body {
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.nav-bar {
  display: inline-block;
  color: white;
  padding: 10px 5px;
  text-decoration: none;
}

.nav-bar:hover {
  background-color: salmon;
}

.nav-button {
  background-color: salmon;
  color: white;
  padding: 10px 0;
  border: 2px solid white;
  display: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.colum {
  text-align: center;
  background-color: rgb(250, 241, 241);
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 5px;
  width: 23%;
  box-sizing: border-box;
}

.price {
  font-size: 50px;
  color: salmon;
}

.btn-buy {
  background-color: salmon;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.btn-buy:hover {
  background-color: rgb(236, 89, 73);
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  .nav-button {
    display: inline-block;
  }

  .hide {
    display: none;
  }
}

@media (max-width: 1070px) {
  .colum {
    width: 45%;
  }
}

