nav {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.nav-bar {
  display: inline-block;
  color: white;
  padding: 10px 5px;
  text-decoration: none;
}

.nav-bar:hover {
  background-color: salmon;
}

.nav-button {
  background-color: salmon;
  color: white;
  padding: 10px 0;
  border: 2px double white;
  display: none;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }

  .nav-button {
    display: inline-block;
  }
}
